@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
html,body {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: -webkit-linear-gradient(left, #171c26, #26358b);
}
header {
  font-size: 20px;
  background-color: #171c26;
  color: #fff;
  padding: 20px;
  text-align: center;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}
header img {
  margin-right: 10px;
}
.space {
  height: 80px;
}
.wrapper {
  padding-top: 170px;
  overflow: hidden;
  max-width: 500px;
  max-height: 800px;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}
.wrapper .title-text {
  display: flex;
  width: 200%;
}
.wrapper .title {
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.title.login {
  display: flex;
  margin-left: 65px;
  align-items: center;
  font-size: 28px;
  line-height: 1;
}
.checkbox-container {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.checkbox-container input[type="checkbox"] {
  margin-right: 10px;
}
.checkbox-container a {
  text-decoration: none;
}
.checkbox-container a:hover {
  color: rgb(21, 16, 125);
  text-decoration: underline;
}
.checkbox-container label {
  font-size: 16px;
}
.password-field {
  position: relative;
}
.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.wrapper .slide-controls {
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
.slide-controls .slide {
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}
.slide-controls label.signup {
  color: #000;
}
.slide-controls .slider-tab {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 5px;
  background: -webkit-linear-gradient(left, #222b3c, #26358b);
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
input[type="radio"] {
  display: none;
}
#signup:checked ~ .slider-tab {
  left: 50%;
}
#signup:checked ~ label.signup {
  color: #fff;
  cursor: default;
  user-select: none;
}
#signup:checked ~ label.login {
  color: #000;
}
#login:checked ~ label.signup {
  color: #000;
}
#login:checked ~ label.login {
  cursor: default;
  user-select: none;
}
.wrapper .form-container {
  width: 100%;
  overflow: hidden;
}
.form-container .form-inner {
  display: flex;
  width: 200%;
}
.form-container .form-inner form {
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.form-inner form .field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
}
.form-inner form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
}
.form-inner form .field input:focus {
  border-color: #171c26;
}
.form-inner form .field input::placeholder {
  color: #999;
  transition: all 0.3s ease;
}
form .field input:focus::placeholder {
  color: #b3b3b3;
}
.form-inner form .field select {
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
}
.form-inner form .field select:focus {
  border-color: #171c26;
}
.form-inner form .field select::placeholder {
  color: #999;
  transition: all 0.3s ease;
}
form .field select:focus::placeholder {
  color: #b3b3b3;
}
.form-inner form .pass-link {
  margin-top: 5px;
}
.form-inner form .signup-link {
  text-align: center;
  margin-top: 30px;
}
.form-inner form .pass-link a,
.form-inner form .signup-link a {
  color: #171c26;
  text-decoration: none;
}
.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover {
  text-decoration: underline;
}
form .btn {
  height: 50px;
  width: 100%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
form .btn .btn-layer {
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(right, #171c26, #26358b, #171c26, #26358b);
  border-radius: 5px;
  transition: all 0.4s ease;;
}
form .btn:hover .btn-layer {
  left: 0;
}
form .btn input[type="submit"] {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #333;
  color: #fff;
  padding: 30px;
}
.footer-links a {
  font-size: 14px;
  margin-right: 10px;
  color: inherit;
  text-decoration: none;
}
.line {
  border-top: 1px solid #fff;
  padding-top: 10px;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.column {
  flex: 1;
  padding: 0 15px;
}
.column h4 {
  margin-bottom: 25px;
}
.column p {
  margin-bottom: 20px;
}
.column p {
  position: relative;
  color: inherit;
  text-decoration: none;
}
.column p::before {
  content: '';
  position: absolute;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s ease;
}
.column p:hover::before {
  width: calc(100% - 70%);
  left: 0;
}
p a {
  color: inherit;
  text-decoration: none;
}
.footer-links {
  padding: 10px;
  margin-top: 50px;
}
.footer-links a {
  position: relative;
  color: inherit;
  text-decoration: none;
}
.footer-links a::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s ease;
}
.footer-links a:hover::before {
  width: calc(100% - 50%);
  left: 0;
}
.copyright {
  padding: 10px;
  margin-top: 50px;
}
@media screen and (max-width: 768px) {
  .row {
    flex-wrap: wrap;
  }
  .column {
    flex: 1 0 50%;
    padding: 0 10px;
  }
  .footer-links,
  .copyright {
    width: 100%;
  }
}
